* {
	margin: 0;
	padding: 0;
	}
	header, footer, section, aside, nav, article {
	display: block;
	}
body {
	margin: 0 auto;
	width: 1263px;
	font-family: ProximaNovaLight, Helvetica Neue, Helvetica, Arial, sans-serif;
	
	}
#tutorials_wrapper
{
	margin: auto;
	width: 1263px;
	height: 1700px;
	clear: both;
}
#tutorials_wrapper .header_container
{
	width: 1263px;
	height: 80px;
}
.header_container .logo img
{
	height: 54px;
	width: 137px;
	float: left;
	margin-left: 113px;
	margin-top: 6px;
}
div
{
	margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;

}
.search-bar  {
    
	float:  left;
	margin-left: 146px;
	height: 40px;
    
	margin-top:26px;
    
	box-shadow:  0 0 3px #AAA;
    
	-webkit-box-shadow:  0 0 3px #AAA;
    
	-moz-box-shadow:  0 0 3px #AAA;
    
	-o-box-shadow:  0 0 3px #AAA;
    
	border-radius: 3px;
    
	-webkit-border-radius: 3px;
    
	-moz-border-radius: 3px;
    
	-o-border-radius: 3px;
    
}
.search-bar ul li  {
    
	display:  inline-block;
    
	line-height:  20px;
    
}
.search-bar input[type="text"]  {
    
	border:  none;
	margin: 11px 2px 2px 2px;
    
	outline:  none;
    
	padding:  1px 10px 8px;
    
	background:  none;
    
	color:  #666;
    
	width:  210px;

    
}

 input.exp[type="text"]  {
    
	border:  none;
	margin: 16px 2px 2px 2px;
    
	outline:  none;
    
	padding:  1px 10px 8px;
    
	background:  none;
    
	color:  #666;
    
	width:  328px;



    
}
.btn  {
    
	margin:  12px 10px -2px 10px;
    
}
.follow_icon li  {
    
	float:  left;
    
	margin-left:  13px;
    
	padding-top:  8%;
    
}
.follow_icon li a img  {
    
	vertical-align:  middle;
    
}
.follow_icon li a: hover {
    
	opacity: 0.7;
    
}


.nav_item
{
	float: right;
	height: 30px;
	width: 200px;
	margin-top: 35px;
	margin-right: 113px;
}
.nav_item ul
{
	list-style: none;

}
.nav_item ul li
{
	float: right;
	margin: 0px 0px 0px -5px;


}
.nav_item ul li a
{
	display: block;
	padding: 0 24 0 8px;
	font-size: 22px;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #00bd9c;

}
ul li a:hover
{
	color: #046252;
	
}

.banner 
{
	z-index: 999;
	position: relative;
	min-height: 479px;
	display: block;
	font-family: font-family: ProximaNovaLight, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#home-card .hero {
position: relative;
height: 479px;
width: 100%;
min-width: 1263px;
background-repeat: no-repeat;
background-position: center top;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#home-card .hero .hero-overlay {
position: relative;
z-index: 2;
top: 30px;
/* padding-top: 140px; */
}




#home-card .hero .hero-overlay h2 {
font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 40px;
letter-spacing: -0.02em;
/*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
margin-top: 32px;
margin-left: 375px;
float: left;
line-height: 41px;
color: white;
}

#home-card .hero .hero-overlay h3 {
font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 40px;
letter-spacing: -0.02em;
/*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
margin-top: 15px;
margin-left: 375px;
float: left;
line-height: 41px;
color: white;
}


#home-card .hero .hero-overlay p {
color: white;
font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 35px;
letter-spacing: -0.001em;
line-height: 14px;
padding: 0;
float: left;
margin-top: 23px;
margin-left: 376px;

/*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.bttn 
{
	border-radius: 4px;
position: absolute;
background: none repeat scroll 0% #1ABC9C;
color: #fff;
border-width: 3px;
border-color: rgba(51, 60, 61, 0.7);
height: 50px;
border: 0.14286em solid #1ABC9C;
outline: 0px none;
line-height: 1.28571em;
padding: 0.64286em 1em;
max-width: 20em;
text-transform: uppercase;
font-weight: 500;
display: inline-block;
text-align: center;
transition: scale 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, background-color 0.15s ease-in 0s;
margin-left:10px;
cursor: pointer;
font: inherit;
box-sizing:border-box;
}

/*.doctor-search {
width: 700px;
background-color: white;
margin: 25px auto 0;
border-radius: 6px;
background-clip: padding-box;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.pure-menu {
background: transparent;
}
.pure-menu.pure-menu-horizontal {
border: 0;
}
.pure-menu.pure-menu-open {
visibility: visible;
z-index: 2;
width: 100%;
margin-top: 268px;
}

.pure-menu .filters-nav {
width: auto;
}

.pure-menu .filters-nav {
height: 60px;
}

.pure-menu.pure-menu-horizontal>ul {
display: inline-block;
zoom: 1;
vertical-align: middle;
}

.pure-menu>ul {
z-index: 100000;
}
.pure-menu-open>ul {
left: 0;
top: 0;
visibility: visible;
}
.pure-menu>ul {
position: relative;
}

.pure-menu ul {

list-style: none;
margin: 0;
padding: 0;
}

.doctor-search .pure-menu ul .filter-dropdown-button.specialty {
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
width: 253px;
}

.doctor-search .pure-menu ul .filter-dropdown-button {
border-right: 1px solid #cdcccb;
}

.doctor-search .pure-menu ul .filter-dropdown-button {
position: relative;
}

.pure-menu-horizontal li {
display: inline-block;
zoom: 1;
vertical-align: middle;
}

.pure-menu-open>ul {

visibility: visible;
}

.doctor-search .pure-menu ul .filter-dropdown-button .button-content{
background-image: none;
border-top-left-radius: 6px;
}


.doctor-search .pure-menu ul .filter-dropdown-button .button-content{
height: 60px;
display: block;
padding: 0;
position: relative;
}


.doctor-search .pure-menu ul .filter-dropdown-button .button-content{
background-position: top left;
background-repeat: repeat-x;
}

.pure-menu-horizontal li {

zoom: 1;
}

.pure-menu-open>ul {

visibility: visible;
}

.doctor-search .pure-menu ul .filter-dropdown-button .icon {
font-size: 23px;
margin-top: 13px;
float: left;
margin-left: 15px;
margin-right: 7px;
color: #bb3794;
}
.doctor-search .pure-menu ul .filter-dropdown-button .button-content .text {
padding-left: 0;
letter-spacing: -0.02em;
}
.doctor-search .pure-menu ul .filter-dropdown-button .button-content .text {
font-size: 20px;
line-height: 300%;
color: #666;
}


.doctor-search .pure-menu ul .filter-dropdown-button.specialty .text {
max-width: 180px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.doctor-search .pure-menu ul .filter-dropdown-button .button-content .text
{
display: inline-block;

height: 100%;
padding: 0 0 0 15px;

font-weight: normal;
}*/


.featured_classes
{
	height: 160px;
	width: 1263px;
	margin: 0 auto;
}
.featured_classes #fc
{
	font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 55px;
letter-spacing: -0.02em;
/*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
margin-top: 54px;
margin-left: 450px;
float: left;
line-height: 41px;
color: #00bd9c;
}

.images_container
{
	height: 495px;
	width: 1022px;
	clear: both;
	margin-left: 125px;

}
.images_container #img_1
{
	height: 450px;
	width: 315px;
	margin-right: 8px;
	float: left;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	border: 2px solid #0ad8b2;
	
}
.images_container #img_2
{
height: 450px;
	width: 318px;
	margin-right: 8px;
	float: left;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	border: 2px solid #0ad8b2;
}
.images_container #img_3
{
	height: 450px;
	width: 318px;
	
	float: left;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	border: 2px solid #0ad8b2;
}
.images_container #img_1 a img
{
	height: 280px;
	width: 308px;
	margin: 5px 5px 5px 5px;
}
.images_container #img_2 a img
{
	height: 280px;
	width: 308px;
	margin: 5px 5px 5px 5px;
}
.images_container #img_3 a img
{
	height: 280px;
	width: 308px;
	margin: 5px 5px 5px 5px;
}

 .img_heading
{
	margin-top:20px;
	font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:27px;
	color:#00bd9c;
	margin-left: 31px;
	text-align: center;

}
#description
{
	font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #0ad8b2;
	margin-left:18px;
	margin-top: 15px;
}

.footer
{
	
	height:500px;
	width: 1263px;
	margin: 0 auto;
}
.ftr
{
background: url( images/footer_new.png);
		background-repeat: repeat-x;	
    height: 403px;
    width: 100%;
}

.ftr .text_area
{
	height: 260px;
	width: 996px;
	margin: 0 auto;
}

.text_area #text_11 
{
  float: left;
  width: 300px;
 height: 215px;
 margin: 10px 10px 10px 10px;
}

.text_area #text_22
{
	float: left;
  width: 300px;
 height: 215px;
margin: 10px 10px 10px 10px;
}

.text_area #text_33
{
	float: left;
  width: 320px;
 height: 215px;
 margin: 10px 10px 10px 10px;
}

.text
{
float: left;
margin: -27 0 0 58px;
font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 23px;
	color: #ffffff; 
}
.ftr_img
{
	margin: 0px 12px 2px 21px;
}
.ulll 
{
	list-style-type: none;
	width: 275px;
	margin: 26 0 0 59px;
	font-size: 22px;
	font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #ffffff !important;
}

.contact_us
{
	height: 100px;
	width: 996px;
	margin: 0 auto;
}
.call
{
	float: left;
	width: 15px;
	height: 37px;
	margin: 8px -39px 0px 31px;

}
.mail
{
	float: left;
	width: 15px;
	height: 37px;
	margin: 19px 0px 0px 155px;

}
.place
{
	float: left;
	width: 15px;
	height: 37px;
	margin: -56px 0px 0px 679px;
}
.numb
{
	float: left;
margin: 22px 0px 0px 56px;
	font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
color: ffffff;
font-size: 20px;
}
.mail_id
{
	float: left;
margin: 23px 0px 0px 34px;
	font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
color: ffffff;
font-size: 20px;
}
.search_place
{
	float: left;
margin: -36px 0px 0px 711px;
	font-family: ProximaNovaReg, Helvetica Neue, Helvetica, Arial, sans-serif;
color: ffffff;
font-size: 20px;
}

.sprtr
{
	background: url( images/sertr.png);
		background-repeat: repeat-x;	
    height: 1px;
    width: 900;
    margin: 0 auto;
    margin-top: -10px;

}

.social
{
	float: right;
	height: 40px;
	width: 100px;
	margin-right: 200px;
}
.social #fb 
{
	margin:5px 0px 0px 0px;
}
.social #tw 
{
	margin: -19px 0px 0px 24px;
}
.social #li 
{
	margin: -19px 0px 0px 57px;
}
.copy_right
{
	float: left;
	margin: 10px 8px 0px 200px;
	color: ffffff;
}