<section class="colorBg3 colorBg" id="demo3" data-panel="third">
  <div class=" container">
    <br>
    <br>
    <br>
    <div class="forgot-password-section" data-animation="bounceInLeft">
      <div class="section-title">
        <h3>Forget Password :</h3>
        <div class="error">
          <div class="log_in">
          </div>
        </div>
      </div>
      <div class="forgot-content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), remote: true, html: { method: :post }) do |f| %>
        
          <%= devise_error_messages! %>
          <div class="textbox-wrap">
            <div class="input-group">
              <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
              <%= f.email_field :email, autofocus: true  , :placeholder => "Email Id"%>
            </div>
            <div class="forget-form-action clearfix">
              <!-- <a class="btn btn-success pull-left blue-btn" href="#demo1"><i class="icon-chevron-left"></i>&nbsp;&nbsp;Back  </a> -->
              <%= link_to "Back",new_user_session_path,'data-no-turbolink' => true, :Class => "btn btn-success pull-left blue-btn" %>
              <button type="submit" class="btn btn-success pull-right green-btn">Submit &nbsp;&nbsp;</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>