<br>
<br>
<br>
<br>
<div class="container">
  <div id="myCarousel" class="carousel">
    <div class="carousel-inner">
      <div class="active item">
        <%=image_tag("ruby1.jpg")%>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%=image_tag("ror.jpg")%>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%=image_tag("tror.jpg")%>
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <br>
  <br>
  <br>
  <h1><%=@tempp%>
</div>