<p lass="span2_schedule">

    <%= f.label :start_time, "start time" %>
    <%= f.time_field :start_time, :class=>"time_width" %>
  <br />
  <br/>
  <%= f.hidden_field :max_people, :value => "#{Lesson.find(params[:lesson_id]).maximum_people}" %>
    <%= f.link_to_remove "Remove this Time" %>
</p>