<html>
  <head>
    <title>App</title>
  <!--   <link href=  "/assets/bootstrap.css" rel="stylesheet" %>
    <link href=  "/assets/bootstrap-responsive.css" rel="stylesheet" %>
    <link href=  "/assets/font-config.scss" rel="stylesheet" %>
    <link href=  "/assets/templatemo_misc.css" rel="stylesheet" %>
    <link href=  "/assets/templatemo_style.css" rel="stylesheet" %>
    <link href=  "/assets/flexslider.css" rel="stylesheet" %>
    <link href=  "/assets/testimonails-slider" rel="stylesheet" %>
    <script src="assets/vendor/jquery-1.11.0.min.js"></script>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="assets/vendor/jquery.gmap3.min.js"></script>
    <script src="assets/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <%#= javascript_include_tag 'plugins', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'main', 'data-turbolinks-track' => true %> -->
    <%#= csrf_meta_tags %>
    <link data-turbolinks-track="true" href="/assets/bootstrap.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/bootstrap-responsive.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/profile.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/landing-page.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="/assets/social-share-button.css?body=1" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_nested_form.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/core.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/datepicker.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/widget.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/button.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/mouse.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/draggable.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/position.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/resizable.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/dialog.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/sortable.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/base.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/batch_actions.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/checkbox-toggler.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/dropdown-menu.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/has_many.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/modal_dialog.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/popover.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/lib/table-checkbox-toggler.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/ext/jquery-ui.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/ext/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin/application.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/active_admin.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/charges.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/comments.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/conversations.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/home.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery.validate.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery1.min.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery2.min.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/lessons.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/omniauth_callbacks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/shared.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/students.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/tutors.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/underscore.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/jquery.cycle.all.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/gmaps/base.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/base/base.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/objects/base_builder.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/objects/builder.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/objects/handler.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/objects/null_clusterer.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/common.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/builders/bound.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/builders/circle.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/builders/clusterer.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/builders/kml.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/builders/map.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/builders/marker.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/builders/polygon.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/builders/polyline.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/bound.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/circle.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/clusterer.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/kml.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/map.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/marker.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/polygon.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/objects/polyline.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google/primitives.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/gmaps/google.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/social-share-button.js?body=1"></script>
  </head>
  <body>
    <%= render 'header_new'%>
    <% flash.each do |type, message| %>
      <div class="alert flash_message" style="margin-top:5%;">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'footer'%>
  </body>
</html>